<section class="project-details-container flex flex-col p-8 bg-gray-900 text-white ">
    <header class="mb-8">
      <h1 class="text-4xl font-bold text-yellow-500 text-center font-mono">Project Details</h1>
      <hr class="border-t-2 border-white m-4">

    </header>
        <!-- Edit Project Modal -->
    <div id="edit-project-modal" *ngIf="isEditProjectModalOpen" tabindex="-1" aria-hidden="true" class="fixed inset-0 overflow-y-auto flex justify-center items-center z-50">
        <div class="relative p-6 w-full max-w-lg mx-4 sm:mx-auto">
        <!-- Modal content -->
        <div class="relative bg-gray-900 rounded-lg shadow-xl">
            <!-- Modal header -->
            <div class="flex items-center justify-center p-6 border-b border-goldenTan rounded-t">
            <h3 class="text-xl font-semibold text-yellow-500 text-center font-mono">
                Edit Project Name
            </h3>
            </div>
            <!-- Modal body -->
            <div class="p-6">
            <form (ngSubmit)="updateProject()">
                <div class="mb-6">
                <label for="editProjectName" class="block text-gray-500 mb-2 text-lg font-medium">Project Name</label>
                <input
                    type="text"
                    id="editProjectName"
                    [(ngModel)]="editedProjectName"
                    name="editProjectName"
                    class="p-3 border bg-gray-600 border-gray-300 rounded-lg shadow-sm w-full text-white font-mono"
                    placeholder="Enter new project name"
                    required
                />
                </div>
                <div class="flex justify-center gap-4">
                <button
                    type="submit"
                    class="bg-yellow-600 text-white px-6 py-3 rounded-full shadow-lg hover:bg-yellow-700 focus:ring-4 focus:ring-blue-300 font-medium text-lg"
                >
                    Save Changes
                </button>
                <button
                    type="button"
                    (click)="closeEditProjectModal()"
                    class="bg-gray-600 text-white px-6 py-3 rounded-full shadow-lg hover:bg-gray-700 focus:ring-4 focus:ring-gray-300 font-medium text-lg"
                >
                    Cancel
                </button>
                </div>
            </form>
            </div>
        </div>
        </div>
    </div>
    <!-- Add Task Modal -->
    <div id="task-modal" *ngIf="isAddTaskModalOpen || isUpdateTaskModalOpen" tabindex="-1" aria-hidden="true" class="fixed inset-0 overflow-y-auto flex justify-center items-center z-50">
        <div class="relative p-6 w-full max-w-lg mx-4 sm:mx-auto">
            <!-- Modal content -->
            <div class="relative bg-gray-900 rounded-lg shadow-xl">
                <!-- Modal header -->
                <div class="flex items-center justify-center p-6 border-b border-goldenTan rounded-t">
                    <h3 class="text-xl font-semibold text-yellow-500 text-center font-mono">
                        {{ isAddTaskModalOpen ? 'Add New Task' : 'Update Task' }}
                    </h3>
                </div>
                <!-- Modal body -->
                <div class="p-6">
                    <form (ngSubmit)="isAddTaskModalOpen ? addTask() : updateTask()">
                        <div class="mb-6">
                            <label for="taskDescription" class="block text-gray-500 mb-2 text-lg font-medium">Task Description</label>
                            <input
                                type="text"
                                id="taskDescription"
                                [(ngModel)]="taskDescription"
                                name="taskDescription"
                                class="p-3 border bg-gray-600 border-gray-300 rounded-lg shadow-sm w-full text-white font-mono"
                                placeholder="Enter task description"
                                required
                            />
                        </div>
                        <div class="flex justify-center gap-4">
                            <button
                                type="submit"
                                class="bg-green-600 text-white px-6 py-3 rounded-full shadow-lg hover:bg-green-700 focus:ring-4 focus:ring-green-300 font-medium text-lg"
                            >
                                {{ isAddTaskModalOpen ? 'Add Task' : 'Update Task' }}
                            </button>
                            <button
                                type="button"
                                (click)="closeTaskModal()"
                                class="bg-gray-600 text-white px-6 py-3 rounded-full shadow-lg hover:bg-gray-700 focus:ring-4 focus:ring-gray-300 font-medium text-lg"
                            >
                                Cancel
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
  
  
    <div class="project-info bg-gray-800 rounded-lg shadow-lg p-6 mb-6">
        <div class="flex items-center justify-between mb-4">
          <h2 class="text-3xl font-semibold">{{ project?.title }}</h2>
          <button
          (click)="openEditProjectModal()"
            class="bg-yellow-600 text-white px-4 py-2 rounded-full hover:bg-yellow-700 transition duration-300 flex items-center space-x-2 shadow-lg"
          >
            <i class="fas fa-pencil-alt"></i>
            <span class="font-semibold">Edit Project Name</span>
          </button>
        </div>
        <p class="text-green-500 mb-2 inline m-2">Created on:</p>
        <span class="text-white font-mono">{{ project?.createdDate | date }}</span>
      
        <hr class="border-t-2 border-yellow-500 my-4">
      
        <h3 class="text-2xl font-medium mb-4 text-center font-mono">Things to Do</h3>
      
        <div class="flex justify-center mb-6">
          <button
          (click)="openAddTaskModal()"
            class="bg-green-600 text-white px-4 py-2 rounded-full hover:bg-green-700 transition duration-300 flex items-center space-x-2 shadow-lg"
          >
            <i class="fas fa-plus"></i>
            <span class="font-semibold">Add Task</span>
          </button>
        </div>
      
        <div class="max-h-64 overflow-y-auto">
            <ng-container *ngIf="todo.length > 0; else noTodos">
                <ul class="list-none space-y-4">
                  <li *ngFor="let item of todo" class="bg-gray-900 p-4 rounded-lg shadow-lg relative">
                    <div class="flex justify-between items-center mb-4">
                      <h4
                      class="text-lg font-semibold font-mono"
                      [ngClass]="{
                        'text-yellow-500': item.status !== 'COMPLETE',
                        'line-through': item.status === 'COMPLETE'
                      }"
                    >
                      {{ item.description }}
                    </h4>
                      <div class="flex space-x-3">
                        <button
                          class="text-blue-500 hover:text-blue-700 transition duration-300"
                          (click)="openUpdateTaskModal(item)"
                        >
                          <i class="fas fa-edit text-2xl"></i>
                        </button>
                        <button
                          class="text-red-500 hover:text-red-700 transition duration-300"
                          (click)="deleteTodo(item.id)"
                        >
                          <i class="fas fa-trash-alt text-2xl"></i>
                        </button>
                        <button
                        class="text-gray-50 font-bold transition duration-300 py-2 px-3 rounded-full"
                        [ngClass]="{
                          'bg-green-600 hover:bg-green-700': item.status === 'PENDING',
                          'bg-yellow-500 hover:bg-yellow-700': item.status === 'COMPLETE'
                        }"
                        (click)="updateStatus(item)"
                      >
                        {{ item.status === 'PENDING' ? 'Done' : 'Delay' }}
                      </button>
                      
                      </div>
                    </div>
                    <p class="text-lg text-white">Status: 
                      <span
                        class="font-bold text-md m-2"
                        [ngClass]="{
                          'text-red-400': item.status === 'PENDING',
                          'text-green-400': item.status === 'COMPLETE'
                        }"
                      >
                        {{ item.status }}
                      </span>
                    </p>
                    
                    <div class="absolute right-4 bottom-4 text-xs text-gray-400">
                      <p class="text-green-500">
                        Created on: <span class="text-white m-2 font-mono">{{ item.createdDate | date }}</span>
                      </p>
                      <p class="text-green-500">
                        Updated on: <span class="text-white m-2 font-mono">{{ item.updatedDate | date }}</span>
                      </p>
                    </div>
                  </li>
                </ul>
              </ng-container>
              
          <ng-template #noTodos>
            <div class="flex flex-col items-center text-center">
              <img src="https://cdn-icons-png.flaticon.com/128/6811/6811275.png" alt="No Todos" class="mb-4">
              <p class="text-gray-400">No todos yet. Get started by adding some tasks!</p>
            </div>
          </ng-template>
        </div>
      </div>
      
      
  </section>
  